.container {
  .banner {
    position: relative;
    .bg {
      position: relative;
      display: flex;
      height: 520px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#000000, #00000000);
        opacity: 0.8;
      }
    }

    .main {
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      left: 0;

      .header {
        height: 85px;
        width: 100%;
        padding: 0 90px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .hamburger {
          display: none;
        }

        .menu {
          display: flex;
          align-items: center;

          ul {
            padding: 0;
            margin: 0;
            display: flex;
            color: #fff;

            li {
              list-style-type: none;
              margin: 0 18px;
              cursor: pointer;
              font: {
                size: 16px;
                weight: 600;
              }

              img {
                margin-right: 7px;
              }
            }
          }

          button {
            height: 35px;
            padding: 0 20px;
            background: none;
            border: 1px solid #fff;
            border-radius: 5px;
            font: {
              size: 16px;
              weight: 600;
            }
            color: #fff;
            img {
              margin-right: 10px;
            }
          }
        }
      }

      & > .content {
        padding-top: 56px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;

        .title {
          font: {
            size: 50px;
            weight: 700;
          }
          margin-bottom: 3px;
        }

        .description {
          font-size: 20px;
          margin-bottom: 27px;
        }

        .search {
          background: #ffffff39;
          border-radius: 5px;
          padding: 20px 24px;
          display: flex;

          & > div {
            display: flex;
            background: #fff;
            border-radius: 5px;

            .textField {
              display: flex;

              &:first-child {
                border-right: 1px solid #eaeaea;
                width: 545px;
              }

              button {
                background: none;
                border: none;
                padding-left: 25px;
                padding-right: 0;
                font: {
                  size: 16px;
                  weight: 700;
                }
              }

              input {
                background: none;
                padding: 0 14px;
                border: none;
                font: {
                  size: 16px;
                  weight: 600;
                }
              }
            }
          }

          & > button {
            width: 196px;
            height: 60px;
            background: #76c303;
            justify-content: center;
            margin-left: 20px;
            border-radius: 5px;
            color: #fff;
            border: none;
            display: flex;
            align-items: center;
            font: {
              size: 16px;
              weight: 700;
            }

            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .mainContainer {
    display: flex;
    justify-content: center;
    background: #f1f2f3;
    padding: 0;

    .mainContent {
      max-width: 1260px;
      width: 100%;
      padding-bottom: 65px;
      position: relative;

      & > .menus {
        width: 100%;
        display: flex;
        background: #fff;
        padding: 10px 0;
        transform: translateY(-50%);

        & > div {
          display: flex;

          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #eaeaea;
            width: 180px;
            height: 110px;
            font: {
              size: 16px;
              weight: 700;
            }

            .img {
              width: 30px;
              height: 30px;
              margin-bottom: 12px;
            }

          }
          &:last-child {
            .item {
              border: none;

              .img {
                .plus {
                  display: none;
                }
              }
            }
          }
        }
      }

      .popularBusiness {
        margin-bottom: 55px;
        padding: 0 20px;
        box-sizing: border-box;

        .title {
          text-align: center;
          margin-bottom: 34px;
          font: {
            size: 30px;
            weight: 700;
          }
        }

        .content {
          display: flex;
          margin: 0 -10px;
        }
      }

      .review {
        padding: 0 20px;
        margin-bottom: 67px;
        display: flex;

        & > .left {
          display: flex;
          flex-direction: column;
          background: #fff;
          border: 1px solid #eaeaea;
          width: calc(67% + 10px);

          & > .header {
            background: #f7f8f9;
            flex-shrink: 0;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font: {
              size: 26px;
              weight: 700;
            }
          }

          & > .body {
            height: 100%;
            padding: 40px 40px 12px;
            border-bottom: 1px solid #eaeaea;

            & > div {
              &:first-child {
                display: flex;
                padding-bottom: 28px;
                border-bottom: 1px solid #eaeaea;

                .avatar {
                  margin-right: 20px;
                  width: 80px;
                  height: 80px;

                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .detail {
                  .name {
                    font: {
                      size: 18px;
                      weight: 700;
                    }
                    margin-bottom: 5px;
                  }

                  .about {
                    display: flex;
                    margin-bottom: 6px;

                    span {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      margin-right: 18px;

                      img {
                        margin-right: 10px;
                      }
                    }
                  }

                  .user {
                    font-size: 15px;
                    color: #888888;

                    span {
                      font-weight: 700;
                      color: #021b9c;
                    }
                  }
                }
              }

              &:last-child {
                padding-top: 20px;

                & > div {
                  &:first-child {
                    margin-bottom: 22px;
                    display: flex;
                    align-items: center;

                    .star {
                      img {
                        width: 20px;
                        height: 18px;
                        margin-right: 5px;
                      }
                    }

                    span {
                      margin-left: 8px;
                      font-size: 15px;
                      line-height: 20px;
                      color: #666666;
                    }
                  }

                  &:last-child {
                    display: flex;

                    .left {
                      margin-right: 12px;
                    }

                    .right {
                      position: relative;
                      .description {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 10px;
                      }

                      .readmore {
                        font-size: 15px;
                        color: #021b9c;
                      }
                    }
                  }
                }
              }
            }
          }

          & > .footer {
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            padding: 16px;

            button {
              width: 296px;
              height: 50px;
              background: #76c303;
              border: none;
              border-radius: 5px;
              color: #fff;
              font: {
                size: 16px;
                weight: 700;
              }
            }
          }
        }

        & > .right {
          background: #fff;
          border: 1px solid #eaeaea;
          width: calc(33% - 10px);
          border-left: none;

          & > .header {
            background: #f7f8f9;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font: {
              size: 26px;
              weight: 700;
            }
          }

          & > .body {
            .item {
              border-bottom: 1px solid #eaeaea;
              padding: 14.5px 20px;
              display: flex;

              .left {
                width: 90px;
                flex-shrink: 0;
                margin-right: 16px;

                img {
                  width: 100%;
                }
              }

              .right {
                .title {
                  font-size: 16px;
                  color: #021b9c;
                  margin-bottom: 3px;
                }

                .description {
                  font-size: 16px;
                  line-height: 22px;
                }

                .user {
                  font-size: 16px;
                  color: #888888;

                  span {
                    color: #021b9c;
                  }
                }
              }
            }
          }

          & > .footer {
            display: flex;
            justify-content: center;
            padding: 16px;

            button {
              width: 230px;
              height: 50px;
              background: #76c303;
              border: none;
              border-radius: 5px;
              color: #fff;
              font: {
                size: 16px;
                weight: 700;
              }
            }
          }
        }
      }

      .recentActivity {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .title {
          font: {
            size: 30px;
            weight: 700;
          }
          text-align: center;
          margin-bottom: 34px;
        }

        & > .content {
          margin: 0 -10px;
          display: flex;
          margin-bottom: 66px;

          & > div {
            width: 100%;
            margin: 0 10px;

            .typeOne {
              background: #fff;
              margin-bottom: 22px;

              .header {
                display: flex;
                align-items: center;
                padding: 31px 31px 24px;
                border-bottom: 1px solid #eaeaea;

                .avatar {
                  width: 45px;
                  height: 45px;
                  margin-right: 12px;

                  img {
                    width: 100%;
                  }
                }

                .detail {
                  p {
                    &:first-child {
                      color: #021b9c;
                      font: {
                        size: 18px;
                        weight: 700;
                      }
                    }

                    &:last-child {
                      color: #666666;
                      size: 15px;
                    }
                  }
                }
              }

              .body {
                padding: 18px 31px 31px;

                .title {
                  font-size: 16px;
                  margin-bottom: 10px;
                }

                .items {
                  margin: 0 -1px;
                  display: flex;

                  & > .item {
                    width: 100%;
                    margin: 0 1px;
                    position: relative;

                    img {
                      width: 100%;
                      border-radius: 5px;
                    }

                    span {
                      display: flex;
                      align-items: center;
                      position: absolute;
                      color: #fff;
                      bottom: 12px;
                      left: 12px;
                      font-size: 15px;

                      img {
                        margin-right: 7px;
                      }
                    }
                  }
                }
              }
            }

            .typeTwo {
              background: #fff;
              margin-bottom: 22px;

              .header {
                display: flex;
                align-items: center;
                padding: 31px 31px 24px;
                border-bottom: 1px solid #eaeaea;

                .avatar {
                  width: 45px;
                  height: 45px;
                  margin-right: 12px;

                  img {
                    width: 100%;
                  }
                }

                .detail {
                  p {
                    &:first-child {
                      color: #021b9c;
                      font: {
                        size: 18px;
                        weight: 700;
                      }
                    }

                    &:last-child {
                      color: #666666;
                      size: 15px;
                    }
                  }
                }
              }

              .body {
                border-bottom: 1px solid #eaeaea;
                & > img {
                  width: 100%;
                }

                .detail {
                  padding: 20px 31px 28px;

                  .name {
                    font: {
                      size: 18px;
                      weight: 700;
                    }
                    margin-bottom: 9px;
                  }

                  .star {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    img {
                      width: 20px;
                      height: 18px;
                      margin-right: 5px;
                    }

                    span {
                      margin-left: 8px;
                      font-size: 15px;
                      color: #666666;
                      line-height: 22px;
                    }
                  }

                  .description {
                    font-size: 16px;
                    line-height: 22px;
                  }
                }
              }

              .footer {
                display: flex;
                justify-content: space-between;
                padding: 20px 30px;

                .left {
                  img {
                    margin-right: 16.5px;
                  }
                }
              }
            }
          }
        }

        button {
          background: #fff;
          border-radius: 5px;
          border: none;
          color: #021b9c;
          max-width: 374px;
          width: 100%;
          height: 50px;

          font: {
            size: 16px;
            weight: 700;
          }

          img {
            margin-right: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .container {
    .banner {
      .bg {
        height: 345px;
      }

      .main {
        .header {
          padding: 0 20px;
        }

        .content {
          padding-top: 40px;

          .title {
            font-size: 35px;
            margin-bottom: 4px;
          }

          .description {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 19px;
          }
          .search {
            width: 350px;
            height: 54px;
            padding: 12px;

            & > div {
              .textField {
                height: 30px;
                width: 236px !important;

                button {
                  font-size: 12px;
                  padding-left: 12px;
                }

                input {
                  width: 100%;
                  padding: 0 7px;
                  font-size: 12px;
                }

                &:first-child {
                  border-radius: 5px;
                }

                &:last-child {
                  display: none;
                }
              }
            }

            & > button {
              margin-left: 10px;
              font-size: 12px;
              height: 30px;

              img {
                margin-right: 5px;
                width: 12px;
                height: 12px;
              }
            }
          }
        }
      }
    }

    .mainContainer {
      .mainContent {    
        .popularBusiness {
          margin-bottom: 40px;

          .title {
            font-size: 18px;
            margin-bottom: 14px;
          }
        }

        .review {
          margin-bottom: 18px;

          .left {
            .header {
              height: 40px;
              font-size: 18px;
            }

            .body {
              padding: 20px 17px;

              & > div {
                &:first-child {
                  padding-bottom: 16px;

                  .avatar {
                    width: 68px;
                    height: 68px;
                    margin-right: 11px;
                  }

                  .detail {
                    .name {
                      font-size: 14px;
                      margin-bottom: 2px;
                    }

                    .about {
                      margin-bottom: 3px;
                      span {
                        font-size: 11px;
                        margin-right: 8px;

                        img {
                          margin-right: 5px;
                        }
                      }
                    }

                    .user {
                      font-size: 12px;
                    }
                  }
                }

                &:last-child {
                  padding-top: 14px;

                  & > div {
                    margin-bottom: 12px !important;
                    &:first-child {
                      span {
                        font-size: 12px !important;
                      }
                      .star {
                        img {
                          width: 14px;
                          height: 13px;
                          margin-right: 4.4px;
                        }
                      }
                    }

                    &:last-child {
                      flex-direction: column;
                      .left {
                        width: 100%;
                        img {
                          border-radius: 5px;
                          width: 100%;
                          max-height: 150px;
                          object-fit: cover;
                        }
                      }
                      .right {
                        .description {
                          font-size: 14px;
                          line-height: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }

            .footer {
              padding: 18px !important;
              button {
                height: 30px;
                font-size: 12px;
              }
            }
          }

          .right {
            display: flex;
            flex-direction: column;

            .header {
              height: 40px;
              font-size: 18px;
              flex-shrink: 0;
            }

            .body {
              height: 100%;
              .item {
                padding: 20px;
                align-items: center;

                &:last-child {
                  border-bottom: none;
                }

                .left {
                  width: 80px;
                  height: 80px;
                  margin-right: 14px;
                }

                .right {
                  .title {
                    font-size: 12px;
                    margin-bottom: 2px;
                  }

                  .description {
                    font-size: 12px;
                    line-height: 16px;
                  }

                  .user {
                    font-size: 12px;
                  }
                }
              }
            }

            .footer {
              flex-shrink: 0;
              padding: 18px;
              border-top: 1px solid #eaeaea;

              button {
                height: 30px;
                font-size: 12px;
              }
            }
          }
        }

        .recentActivity {
          .title {
            font-size: 18px;
            margin-bottom: 11px;
          }

          .content {
            margin-bottom: 0;

            & > div {
              .typeOne {
                margin-bottom: 15px;
                .header {
                  padding: 20px;

                  .avatar {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                  }

                  .detail {
                    p {
                      &:first-child {
                        font-size: 15px;
                        margin-bottom: 0;
                      }

                      &:last-child {
                        font-size: 12px;
                      }
                    }
                  }
                }

                .body {
                  padding: 18px 20px;

                  .title {
                    margin-bottom: 8px;
                  }
                }
              }

              .typeTwo {
                margin-bottom: 15px;
                .header {
                  padding: 20px;

                  .avatar {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                  }

                  .detail {
                    p {
                      &:first-child {
                        font-size: 15px;
                        margin-bottom: 0;
                      }

                      &:last-child {
                        font-size: 12px;
                      }
                    }
                  }
                }

                .body {
                  .detail {
                    padding: 16px 20px;

                    .name {
                      font-size: 15px;
                      margin-bottom: 8px;
                    }

                    .star {
                      margin-bottom: 18px;
                      img {
                        width: 15px;
                        height: 14px;
                        margin-right: 5px;
                      }

                      span {
                        font-size: 12px;
                      }
                    }

                    .description {
                      font-size: 16px;
                      line-height: 22px;
                    }
                  }
                }

                .footer {
                  padding: 16px 20px;

                  img {
                    margin-right: 14px;
                    width: 14px;
                    height: 14px;
                  }
                }
              }
            }
          }

          & > button {
            height: 40px;
            font-size: 12px;

            img {
              width: 9px;
              height: 4.5px;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .banner {
      .main {
        .header {
          padding: 20px;

          .logo {
            img {
              width: 120px;
              height: 30px;
            }
          }

          .menu {
            display: none;
          }

          .hamburger {
            display: flex;
          }
        }

        .content {
          padding-left: 20px;
          padding-right: 20px;

          .description {
            text-align: center;
          }
        }
      }
    }
  }
}

@media(max-width: 1000px) {
  .container {
    .mainContainer {
      .mainContent {
        .popularBusiness {
          margin-bottom: 5px;
          .content {
            flex-direction: column;
          }
        }

        .review {
          flex-direction: column;

          .left {
            width: 100%;
            margin-bottom: 20px;
          }

          .right {
            width: 100%;
          }
        }

        .recentActivity {
          .content {
            flex-direction: column;
            margin: 0;

            & > div {
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}


@media(max-width: 1280px) {
  .container {
    .mainContainer {
      .mainContent {
        padding-bottom: 30px;
        .menus {
          transform: translateY(0);
          margin-bottom: 21px;
          flex-direction: column;
          padding: 32px 20px;

          & > div {
            justify-content: center;

            &:first-child {
              border-bottom: 1px solid #eaeaea;
            }

            &:last-child {
              padding-top: 21px;

              .item {
                .img {
                  width: auto;
                  height: auto;
                  margin-bottom: 0!important;

                  .more {
                    display: none;
                  }

                  .plus {
                    margin-right: 7px!important;
                    display: flex;
                  }
                }

                width: 80px;
                height: 25px;
                display: flex;
                border: 1px solid #DFE0E1!important;
                padding: 0!important;
                align-items: center;
                border-radius: 5px;
                flex-direction: row;
              }
            }

            .item {
              padding: 10px;
              width: 100%;
              font-size: 12px;
              height: auto;

              .img {
                margin-bottom: 5px!important;
              }

              &:last-child {
                border-right: none;
              }
            }
          }
        }
      }
    }
  }
}