.container {
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 1000;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;

  .backdrop {
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    min-height: 100vh;
  }

  .main {
    max-width: 1260px;
    width: 100%;
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
      align-self: flex-end;

      button {
        padding: 0;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        color: #FFF;
        margin-bottom: 12px;
        span {
          font: {
            size: 16px;
            weight: 700;
          }
          margin-right: 9px;
        }
      }
    }

    .body {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      
      button {
        position: absolute;
        top: 50%;
        padding: 0;
        border: none;
        background: none;

        &.left {
          left: 0;
          transform: translate(-200%, -50%);
        }

        &.right {
          right: 0;
          transform: translate(200%, -50%);
        }
      }

      & > div {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
          max-width: 100%;
          height: 700px;
        }
      }
    }

    .footer {
      display: flex;

      img {
        height: 85px;
        margin: 2px 1px;
        cursor: pointer;
        transition: 0.3s;
        opacity: 0.31;

        &.active {
          opacity: 1;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media(max-width: 1000px) {
  .container {
    .main {
      .body {
        img {
          height: 400px!important;
        }

        .left {
          transform: none!important;
          top: 0;
          img {
            width: 10px;
          }
        }

        .right {
          transform: none!important;
          top: 0;
          img {
            width: 10px;
          }
        }
      }

      .footer {
        img {
          height: 35px!important;
        }
      }
    }
  }
}