.container {
  display: flex;
  align-content: center;
  
  img {
    width: 18px;
    height: 18px;
    margin-right: 5.5px;
  }
}

@media(max-width: 768px) {
  .container {
    img {
      width: 14px;
      height: 13px;
      margin-right: 4.5px;
    }
  }
}